---
type Props = {
	/** Disables the toggle. Enabling it can be done via the nav-menu event dispatcher. */
	disabled?: boolean;
	class?: string;
};

const { disabled, class: className } = Astro.props;
---

<button
	id="nav-menu__toggle"
	transition:persist="nav-menu__toggle"
	class={className}
	disabled={disabled}>
	<slot />
</button>

<script>
	import { navMenuStore } from "@src/stores";

	const $toggle = document.querySelector(
		"#nav-menu__toggle",
	) as HTMLButtonElement;

	$toggle.addEventListener("click", navMenuStore.actions.toggle);
</script>
