---
type Props = {
	id?: string;
};

const { id } = Astro.props;
---

<nav
	id={id}
	class="fixed left-0 right-0 top-0 bottom-0 flex justify-end items-center"
	transition:persist={id}>
	<ul class="font-michroma flex flex-col gap-4 m-2 z-10">
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/demos">Demos</a></li>
		<li><a href="/resources">Resources</a></li>
	</ul>
</nav>

<style>
	nav[data-open] {
		pointer-events: all;
		& ul {
			transition-delay: 250ms;
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		}
	}

	nav ul {
		transition: clip-path 250ms ease-in-out;
		clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
	}

	nav ul li {
		text-align: right;
	}
</style>
