---
import NavMenuIcon from "./NavMenuIcon.astro";

type Props = {
	/** Disables the toggle. Enabling it can be done via the nav-menu event dispatcher. */
	disabled?: boolean;
};

const { disabled } = Astro.props;
---

<button
	id="nav-menu__toggle"
	transition:persist="nav-menu__toggle"
	disabled={disabled}>
	<NavMenuIcon />
</button>

<script>
	import { dispatch, register } from "@src/events/global/nav-menu";

	const $menu = document.querySelector("#nav-menu")!;
	const $toggle = document.querySelector("#nav-menu__toggle")!;

	const click = () => {
		dispatch($menu.hasAttribute("data-open") ? "close" : "open");
	};
	const enable = () => {
		$toggle.removeAttribute("disabled");
	};
	const disable = () => {
		$toggle.setAttribute("disabled", "true");
	};

	$toggle.addEventListener("click", click);
	register("enable", enable);
	register("disable", disable);
</script>

<style>
	button#nav-menu__toggle {
		position: fixed;
		width: 2em;
		height: 2em;
		top: 0;
		right: 0;
		margin: 1em;
		z-index: 999;
		transition: 0.5s ease-in-out;

		&[disabled] {
			opacity: 0;
		}
	}
</style>
