---
import NavMenuShutter from "@src/components/features/nav-menu/NavMenuShutter.astro";
import NavMenuOverlay from "@src/components/features/nav-menu/NavMenuOverlay.astro";
---

<div
	id="nav-menu__overlay"
	class="fixed top-0 bottom-0 left-0 right-0 pointer-events-none">
	<NavMenuShutter class="w-full h-full" />
	<NavMenuOverlay id="nav-menu__overlay__menu" />
</div>

<script>
	import { navMenuStore } from "@src/stores";

	const load = () => {
		const $menu = document.querySelector(
			"#nav-menu__overlay__menu",
		) as HTMLElement;

		navMenuStore.subscribe((value, oldValue, changed) => {
			if (changed === "open") {
				value.open === true
					? $menu.setAttribute("data-open", "true")
					: $menu.removeAttribute("data-open");
			}
		});
	};

	document.addEventListener("load", load);
	document.addEventListener("astro:page-load", load);
	document.addEventListener("astro:page-load", navMenuStore.actions.close);
</script>
