<nav id="nav-menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/writings">Blog</a></li>
		<li><a href="/work">Work</a></li>
	</ul>
</nav>

<script>
	import { register } from "@src/events/global/nav-menu";

	const $nav = document.querySelector("nav#nav-menu")!;

	const open = () => $nav.setAttribute("data-open", "true");
	const close = () => $nav.removeAttribute("data-open");

	register("open", open);
	register("close", close);

	document.addEventListener("astro:after-swap", close);
</script>

<style>
	nav#nav-menu {
		font-family: Michroma;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		z-index: 999;

		opacity: 1;
		background: #444a;
		transition: 200ms cubic-bezier(1, 0, 0, 1);
		transform: translateX(calc(100%));
	}

	nav#nav-menu[data-open] {
		opacity: 1;
		transform: translateX(0);
	}

	nav#nav-menu ul {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	nav#nav-menu ul li {
		padding: 1em;
		background: #444;
		text-align: center;
	}
</style>
