<nav id="nav-menu" transition:persist="nav-menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/writings">Writings</a></li>
		<li><a href="/work">Work</a></li>
	</ul>
</nav>

<script>
	import { register } from "@src/events/global/nav-menu";

	const $nav = document.querySelector("nav#nav-menu")!;

	const open = () => $nav.setAttribute("data-open", "true");
	const close = () => $nav.removeAttribute("data-open");

	register("open", open);
	register("close", close);
</script>

<style>
	nav#nav-menu {
		font-family: Michroma;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: right;
		align-items: center;
		color: theme(colors.base.dark.text.1);
		z-index: 999;
		pointer-events: none;
	}

	nav#nav-menu[data-open] {
		pointer-events: all;
		& ul {
			transition-delay: 250ms;
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		}
	}

	nav#nav-menu ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin: 0.5em;
		z-index: 10;
		transition: clip-path 250ms ease-in-out;
		clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
	}

	nav#nav-menu ul li {
		text-align: right;
	}
</style>
