---
import NavMenuIcon from "@src/components/icons/NavMenuIcon.astro";

type Props = {
	/** Disables the toggle. Enabling it can be done via the nav-menu event dispatcher. */
	disabled?: boolean;
	class?: string;
};

const { disabled, class: className } = Astro.props;
---

<button
	id="nav-menu__toggle"
	transition:persist="nav-menu__toggle"
	class={className}
	disabled={disabled}>
	<NavMenuIcon id="nav-menu__icon" />
</button>

<script>
	import { navMenuStore } from "@src/stores";

	const load = () => {
		const $toggle = document.querySelector(
			"#nav-menu__toggle",
		) as HTMLButtonElement;
		const $icon = document.querySelector("#nav-menu__icon") as HTMLElement;

		const click = () => {
			navMenuStore.actions.toggle();

			navMenuStore.read().open === true
				? $icon.setAttribute("data-open", "true")
				: $icon.removeAttribute("data-open");
		};

		$toggle.addEventListener("click", click);
	};

	document.addEventListener("load", load);
	document.addEventListener("astro:page-load", load);
	document.addEventListener("astro:after-swap", load);
</script>
