<body><slot /></body>

<style is:global>
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		background-image: linear-gradient(
			to top right,
			theme(colors.base.1),
			theme(colors.base.2)
		);
		background-size: cover;
		background-attachment: fixed;
		overscroll-behavior: none;
	}
</style>
