---
import SiteIcon from "@src/components/icons/SiteIcon.astro";
import NavMenuToggle from "@src/components/features/nav-menu/NavMenuToggle.astro";
---

<header class="w-full h-16 p-4 fixed z-10 flex justify-between">
	<a href="/">
		<SiteIcon class="h-full fill-none stroke-base-dark-text-default" />
	</a>

	<NavMenuToggle
		class="h-full aspect-square fill-none stroke-base-dark-text-default"
	/>
</header>
