---
const pathname = Astro.url.pathname.replace(/\/+$/, "");
---

<nav>
	<a href="/" class:list={[{ current: pathname === "" }]}
		><span transition:name="nav/">Sasquatch Dev</span></a
	>
	<a href="/writings" class:list={[{ current: pathname === "/writings" }]}
		><span transition:name="nav/writings">Blog</span></a
	>
	<a href="/work" class:list={[{ current: pathname === "/work" }]}
		><span transition:name="nav/work">Work</span></a
	>
</nav>

<style>
	nav {
		font-size: 0.75rem;
		color: white;
		font-family: Michroma, Tahoma, sans-serif;
		text-transform: uppercase;

		position: sticky;
		top: 0;
		margin: 1em;

		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		& a {
			height: auto;

			&.current > span {
				color: theme(colors.base.dark.text.link);
				transform: scale(1.1) translate(0.3em, 0.3em);
			}
		}
	}
</style>
