---
const pathname = Astro.url.pathname.replace(/\/+$/, "");
---

<nav>
	<a href="/" class:list={[{ current: pathname === "" }]}
		>01 / <span transition:name="nav/">Home</span></a
	>
	<a href="/writings" class:list={[{ current: pathname === "/writings" }]}
		>02 / <span transition:name="nav/writings">Blog</span></a
	>
	<a href="/work" class:list={[{ current: pathname === "/work" }]}
		>03 / <span transition:name="nav/work">Work</span></a
	>
</nav>

<style>
	nav {
		font-family: Iceberg, Tahoma, sans-serif;
		font-size: 0.75rem;
		width: max-content;
		margin: 1em 2em;
		display: flex;
		position: sticky;
		z-index: 999;
		top: 1em;
		justify-content: space-between;
		gap: 3em;
		text-transform: uppercase;

		& a {
			& > span {
				display: inline-block;
				font-size: 1rem;
			}

			&.current > span {
				color: theme(colors.base.dark.text.link);
				transform: scale(1.1) translate(0.3em, 0.3em);
			}
		}
	}
</style>
