---
import TypewriterText from "./TypewriterText.astro";
---

<div>
	<dialog open>
		<code>
			<TypewriterText
				>Build in progress!<br />Check back later...</TypewriterText
			>
		</code>
	</dialog>
</div>

<style>
	div {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	dialog {
		background: #444;
		color: white;
		padding: 1em;
		box-shadow: 0 0 2em #0006;
	}
</style>
