<span><slot /></span>

<style>
	@keyframes blink {
		0% {
			visibility: hidden;
		}
		50% {
			visibility: visible;
		}
	}
	span {
		&::after {
			content: "\2588";
			animation: blink 1s steps(1) infinite;
		}
	}
</style>
