---
import LandingRenderLoader from "./LandingRenderLoader.astro";
import LandingRenderCanvas from "./LandingRenderCanvas.astro";
---

<div id="landing-render">
	<LandingRenderLoader />
	<LandingRenderCanvas />
</div>

<style>
	div#landing-render {
		width: 100%;
		height: 100%;
		position: absolute;
	}
</style>
