<body><slot /></body>

<style is:global>
	body {
		width: 100%;
		min-height: 100dvh;
		min-height: var(--vh, 100vh);

		color: theme(colors.base.dark.text.default);

		/* overscroll-behavior: */
		overflow-x: hidden;
	}
</style>
