---
import { ClientRouter } from "astro:transitions";
import Body from "@src/components/Body.astro";

import DosisProvider from "@src/components/fonts/DosisProvider.astro";
import IcebergProvider from "@src/components/fonts/IcebergProvider.astro";
import MichromaProvider from "@src/components/fonts/MichromaProvider.astro";

import { getSettings } from "lib/sanity/fetch";

export interface Props {
	pageTitle?: string;
}

const { pageTitle } = Astro.props;

const settingsData = await getSettings();
const main_title = settingsData?.main_title || "Main Title";

const title = `${main_title}${pageTitle ? ` | ${pageTitle}` : ""}`;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<DosisProvider />
		<IcebergProvider />
		<MichromaProvider />

		<ClientRouter fallback="swap" />
	</head>

	<Body><slot /></Body>
</html>
