---
import Studio from "@src/components/Studio";
---

<div>
	<Studio client:only="react" />
</div>

<style>
	div {
		height: 100vh;
		max-height: 100dvh;
		overscroll-behavior: none;
		-webkit-font-smoothing: antialiased;
		overflow: auto;
	}
</style>
